.stopwatch{
 
    height:auto;
    width:480px;
    margin: auto;
    margin-top: 40px;
    padding-top:6px;
    background: linear-gradient(to right bottom , #37f3f3 , #f1fb41e3);
    border-radius: 18px;
    box-shadow: 10px 10px 5px #9f87ff;
  }
  .D2{
    display:flex;
  }
  .D2>button{
    height:36px;
    width:80px;
    margin:6px;
    border-radius: 9px;
    background-color: #9f87ff;
    border:none;
    color:white;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 40px;
   margin-bottom: 30px;
   
  }
  .D2>button:nth-child(1){
    margin-left: 22%;
  }
  .sub1{
    height:36px;
    width:80px;
    margin:10px;
    border-radius: 9px;
    background-color: #076ff6;
    border:none;
    color:white;
    font-weight: bolder;
    cursor: pointer;
  }